.text-heading {    
    display: flex; 
    padding-top: "33px";
    padding-bottom: "15.99px"
  }
  .text-title{
    color: #526D82;
  }

  body {
    background-color: #DDE6ED;
    margin: 0; /* Resetting default margin */
  }
  

  .text-backButton {
    background-color: transparent;
    border: none;
    color: #545454;
    cursor: pointer;
    font-size: 32px; 
    width: 32px;
    height: 32px;
    /* margin-left: 20px; */
    margin-top: -3px;
  }

  .text-headingline {
    position: absolute; 
    width: 100%;
    height: 1px;
    top: 5rem; 
    left: 0;
    border: 1px solid #DDE6ED; 
}

/* ************************************************ */

.textbutton-container {
  padding: 0 0 0 0;
  margin-top: 28px;
  margin-left: 15px;
  /* border: 2px solid black; */
}
.textbutton-container button {
  /* background-color: #526D82;  */
  /* background-color: #DDE6ED;
  color: #000000;
  width: 148px; 
  height: 35px;
  font-size: large;
  border-radius: 8px; */
  /* margin-left: 0px; */
  width: 148px;
  height: 35px;
  top: 9px;
  left: 32px;
  opacity: 0.41;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  background: #DDE6ED;
  color: #000000 ;
  border-radius: 8px;
}

/* ************************************************ */
.text-form {
  box-shadow: none; 
  margin-top: 10px;
  width: fit-content !important;
}

/* .form label {
  margin-bottom: 10px;
  color: #526D82;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="email"],
.form input[type="password"],
.form input[type="radio"] {
  width: 400px;
  height: 50px;
}
.form input[type="radio"] + label {
  margin-right: 20px; 
  padding-left: 10px;
  display: inline-block; 
}

.form input[type="radio"] {
  width: 16px;
  height: 16px;
  margin-right: 50px; 
} */

/* ************************************************ */

.text-image {
  width: 300px;
  height: 240px;
  /* top: 15px;
  left: 757px;
  padding: 8px 8px 8px 4px; */
  border-radius: 12.6px ;
  background-color: #DAE2E9;
}

/* ************************************************ */
 
.textbook-input-container {
  position: relative;
  padding: 30px;
  /* margin-bottom: 35px;  */  
}

.textbook-input-container input {
  padding: 8px 8px 8px 4px;
  border: 1px solid #526D82;
  border-radius: 4px;
  outline: none;
  background: #fff;
  width: 400px; 
  height: 50px;
  box-sizing: border-box;
  /* margin-bottom: 20px; */
}

.textbook-input-container label {
  position: absolute;
  top: 20px;
  left: 50px;
  padding: 0 4px;
  background: #fff;
  color:#526D82;
  font-size: 16px;
  transition: all 0.3s;
  pointer-events: none;
}

.textbook-input-container input:focus + label,
.textbook-input-container input:not(:placeholder-shown) + label {
  top: -10px;
  left: 4px;
  font-size: 12px;
  color: #333;
}

.textbook-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  padding-left: 0px;
  margin-top: 1px;

}

.textbook-row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  
}

.textbook-col {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 90px;
}
/* ************************************************ */

@media (max-width: 768px) {
    .text-form {
        margin-top: -10px;
      }
  .textbook-col {
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 9px;
      padding-left: 20px;
  }
  .textbook-row{
      display: flex;
      flex-direction: column;
  }
  /* .textbutton-container{

  } */

}
