.class_rectangle{
    position: relative;
    border: 1px solid black;
    width:260px;
    height: 100px;
}
.class_main{
    margin-top: 30px;
    
}

.container-scroll {
    overflow-y: auto;
    height: 67vh;
  }
  
  
  .container-scroll::-webkit-scrollbar {
    width: 6px; 
  }
  

  .container-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  

  .container-scroll::-webkit-scrollbar-thumb {
    background: #A8BFD1;
  }
  