.admin_new_input_container {
    position: relative;
    margin-top: 20px;
    /* width: 100%; */
    /* width: calc(100% - 40px); */
}

.admin_new_input_container input {
    width: 100%;
    padding: 12px 10px 12px 10px;
    border: 1px solid #526D82;
    border-radius: 4px;
    height: 50px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    outline: none;
}

.admin_new_input_container input:focus,
.admin_new_input_container input:not(:placeholder-shown) {
    border-color: #526D82;
}

.admin_new_input_container input:focus + label,
.admin_new_input_container input:not(:placeholder-shown) + label {
    top: -12px;
    left: 10px;
    font-size: 17px;
    color: #526D82;
    /* border: 1px solid #526D82; */
}

.admin_new_input_container label {
    position: absolute;
    top: 16px;
    left: 10px;
    background-color: #fff;
    color: #526D82;
    font-size: 16px;
    padding: 0 4px;
    transition: all 0.3s;
    pointer-events: none;
}


  .admin_new_button_container {
    margin-bottom: 30px;
  }
  .admin_new_button_container button {
    background-color: transparent; 
    color:#526D82;
    width: 150px; 
    height: 50px;
    border-radius: 10px;
    border: 1px solid #526D82;
  }
  .admin_new_button_container button:hover {
    background-color: #526D82;
    color: #FFFFFF; 
    border: 1px solid #526D82;
}


  