.seat_container_scroll {
    overflow-y: auto;
    height: 75vh;
    width:150vw ;
}

  .seat_container_scroll::-webkit-scrollbar {
    width: 6px; 
  }
  
  .seat_container_scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .seat_container_scroll::-webkit-scrollbar-thumb {
    background: #A8BFD1;
  }


.seat_list{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-top: 5px;
}
.seat_adding_button {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 4%;
  right: 2%;
  z-index: 1000;
}
.seat_adding{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: 30px;
  background-color: #526D82;background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat_rectangle{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
  }
.seat_hallno{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding-left: 20px;
    /* padding-top: 10px; */
    color: #4A4A4A;
    font-size: 16px;
    font-weight: bold;
}
.seat_hall_date {
    display: flex;
    justify-content: space-between; /* This will place the term and date on opposite ends */
    padding: 5px 10px; /* Adjusted padding for better spacing */
    color: #727272;
    font-size: 14px;
    padding-top: 10px;
}

.seat_hallno, .seat_date {
    flex: 1; /* This ensures that both the term and the date can grow and take up equal space if needed */
}
.seat_facultyno{
    display: flex;
    justify-content: flex-start;
    color: #727272;
    /* font-size: 14px; */
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.seat_date{
    display: flex;
    justify-content: space-between;
    color: #727272;
    /* font-size: 14px; */
    padding-left: 30%;
    /* padding-right: 3%; */
    width: 100px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.seat_time {
    background-color: #9DB2BF;
    width: 70%; 
    color: #fff;
    border-radius: 18px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto;
    font-size: 14px; 
    margin-top: 15px;
}
@media (max-width:576px) {
   
  .seat_rectangle{
    width: 250px !important;
    height: 150px !important;
  }

  .seat_list{
    padding:4px;
    padding-top: 16px;
    margin-top: 8px;
  }
  .seat_container_scroll{
    overflow-y: auto;
    height: 70vh;
    width:100% ;
   padding-right: 20px;
    
  }
  }
  .seat_adding_my_button {
    background-color: #526D82;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    border-radius: 50%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
  }
  
  .seat_adding_my_button:after {
    content: "";
    background-color: rgba(255, 255, 255, 0.374);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  
  .seat_adding_my_button.active:after {
    animation: ripple_401 3s ease-out;
  }
  
  @keyframes ripple_401 {
    0% {
      width: 5px;
      height: 5px;
      opacity: 1;
    }
  
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }