.admin_form {
  background-color: #fff;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /* height: 480px; */
  width: 70%;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 9px 70px -2px rgba(0, 0, 0, 0.05);
  padding-top: 60px;
  padding-left:3% ;
}

.admin_form_title {
  font-size: 2rem;
  line-height: 1.75rem;
  font-weight: 400;
  /* text-align: right; */
  color: #526D82;
}

.admin_input_container {
  position: relative;
  width: 100%;
}

.admin_input_container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
  width: 100%;
}

.admin_input_container input {
  background-color: #fff;
  /* padding: 5rem; */
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* width: 50%; */
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.admin_input_container span {
  display: flex; /* Changed to flex for vertical centering */
  align-items: center; /* Vertically center the content */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px; /* Adjusted right positioning */
}

.admin_input_container span svg {
  color: #9CA3AF;
  width: 1rem;
  height: 1rem;
}

.admin_submit_btn {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: transparent;
  color: #526D82;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width:60%;
  border-radius: 0.5rem;
  border: 1px solid #526D82;
 width: 100%;
 transition: background-color 0.3s ease, color 0.3s ease;
}
.admin_submit_btn:hover {
  background-color: #526D82;
  color: white;
}

.admin_signup-link {
  color: #526D82;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: right;
  margin-bottom: 40px;
  /* font-weight: bold; */
  cursor: pointer;
}

.admin_signup-link a {
  text-decoration: underline;
  color: #526D82;
}
@media (max-width:1036px) {

.ad_lg_tagline{
margin-left: 2% !important;
}
  
}

/* card flip */
.flip-card-inner {
  position: relative;
  width: 100%;

  
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {


  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

}

.flip-card-front{
 
  width: 100%;
}

.flip-card-back {
  
  transform: rotateY(180deg);
}

@media (max-width:999px) {
.ad_lg_min_div{
background-size: cover !important;
}
.formcol_Lg{
  width:100% !important ;
}
.admin_form {
  width: 80% !important;
  padding-left:4% !important;
}
}

@media (max-width: 800px) {
 
  .ad_lg_min_div {
      background-size: cover !important;
      /* text-align: left;  */
  }
  .ad_lg_left_div{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    /* background-color: aqua; */
    padding-left: 0 !important;
    padding-top: 30px;
  }
  /* .ad_lg_logo{
    padding-right: 35%;
    margin-top: 20%;
    display: block; 
    width: 70%; 
    height: auto;
  } */
  .admin_form {
      width: 800px;
      padding: 10px;
      margin-bottom: 50px;
  }
  .admin_form_title {
      font-size: 1.5rem;
  }
  .admin_input_container {
    /* position: relative; */
    width: 300px;
  }
  
  .admin_input_container input, .admin_input_container span {
      font-size: 1rem; 
  }
  .admin_submit_btn {
      width: 100%;
      padding: 12px; 
  }
  .ad_lg_tagline {
      font-size: 1rem; 
      margin-left: 5px; 
  }
  .admin_signup-link {
      font-size: 0.875rem; 
  }
  .website_button{
    display: none;
  }
}
