.ck-editor__editable_inline {
    min-height: 110px !important;

 border-radius: 8px !important;
    /* border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important; */
    z-index: 10 !important;
  }
  .ck-toolbar {
    display: none !important;
  }
  
  .show-toolbar .ck-toolbar {
    display: flex !important; 
    
  }


.editor-container .ck.ck-editor__main > .ck-editor__editable {
  border: none; /* Remove the border */
  box-shadow: none; /* Remove any box-shadow */
}