.card:hover {
    transform: scale(1.1);
  }
  .card {
    transition: transform 0.5s;
  }
  /* .image-container:hover {
    transform: scale(1.1); 
  }
  
  .image-container {
    transition: transform 0.5s; 
  } */
  .navbar {
    background-color:#DDE6ED !important;
  }
  .custom-search {
    max-width: 80%; 
  }