.card:hover {
    transform: scale(1.1);
  }
  .card {
    transition: transform 0.5s;
  }
  .book {
    background-color:#DDE6ED !important;
  }
  .cust_pagination_custom .page-item .page-link {
    background-color: transparent !important;
    color: #526D82;
  }