/* lokatextbookadd.css */
.lokatextbookadd-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050 !important;
}

.lokatextbookadd-modal-content {
    background: white;
    border-radius: 16px;
    width: 700px;
    height: 650px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
}

.lokatextbookadd-modal-header {
    padding: 24px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 1px solid #DFDFDF;
}
.lokatextbookadd-modal-header-heading{
    font-size: 20px;
    font-weight: 600;
    color: #222222;
}

.lokatextbookadd-close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.lokatextbookadd-modal-body {
    margin-top: 16px;
    padding: 24px;
    padding-top: 0px;
    overflow-y: auto;
    flex-grow: 1;
}

.lokatextbookadd-form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 24px;
    margin-bottom: 24px;
}

.lokatextbookadd-form-group {
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
    margin: 0;
}

.lokatextbookadd-form-group--full {
    grid-column: span 2;
}

.lokatextbookadd-form-group input,
.lokatextbookadd-form-group select,
.lokatextbookadd-form-group .react-select__control {
    height: 50px;
    border-radius: 8px !important;
    font-size: 16px;
}

.lokatextbookadd-form-control {
    width: 100%;
    height: 48px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.lokatextbookadd-form-label {
    padding-bottom: 8px;
    font-size: 16px;
}

.lokatextbookadd-modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 24px;
}

.lokatextbookadd-btn {
    width: 100px;
    height: 40px;
    border-radius: 8px;
}

.lokatextbookadd-btn-secondary {
    background-color: #fff;
    color: #2162B2;
    border: 1px solid #2162B2;

}

.lokatextbookadd-btn-danger {
    background-color: #fff;
    color: red;
    border: 1px solid red;
}

.lokatextbookadd-btn-primary {
    background-color: #2162B2;
    color: white;
}

.custom-input:focus {
    border-color: #526D82 !important;
    box-shadow: 0 0 5px rgba(82, 109, 130, 0.6);
    /* outline: none; */
}

.admin_textbook_image_upload_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 233px;
    width: 100%;
    border: 2px dashed #526D82;
    border-radius: 12px;
    margin-bottom: 15px;
    position: relative;
    background-color: #fff;
}

.admin_textbook_upload_placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.admin_textbook_upload_label {
    background-color: #DAE2E9;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.admin_textbook_upload_label:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.admin_textbook_upload_input {
    display: none;
}

.lokatextbookadd_chapter-upload-wrapper {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.lokatextbookadd_chapter-upload-label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #767676;
    margin-bottom: 8px;
}

.lokatextbookadd_chapter-upload-input {
    width: 208px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #767676;
    margin-bottom: 20px;
    display: block;
    height: 40px;
    box-sizing: border-box;
}

.lokatextbookadd_chapter-upload-scroll-area {
    border-radius: 10px;
    padding: 10px;
    border: none !important;
}

.lokatextbookadd_chapter-upload-row:not(:last-child) {
    border-bottom: 2px solid #e0e0e0;
}

.lokatextbookadd_chapter-upload-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    padding-bottom: 8px;
}

.lokatextbookadd_chapter-upload-text {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 8px;
    width: 300px;
    height: 40px !important;
}

.lokatextbookadd_chapter-upload-delete {
    background: none;
    border: 1px solid red;
    color: red;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.lokatextbookadd_custom-file-upload {
    position: relative;
}

.lokabook_upload-btn {
    width:116px;
    color: #2162B2;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid #2162B2;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
}

.lokatextbookadd_hidden-file {
    display: none;
}

.lokatextbookadd_file-name-display {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #555;
    font-size: 14px;
}
.lokatextbookadd_required {
    color: red;
}