.assignment_editor {
  height: auto;
  background-color: #DDE6ED;
  width: 100%;
  height: 100vh;
  padding-top: 2vh;
}

.assignment_editor_header {
  background-color: #ffff !important;
  height: 10vh;
  width: 100%;
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
}

/* .assignment_editor_header_title {
  display: flex;
  align-items: center;
} */
.assign_back_title{
  display: flex;
  align-items: center;
  padding-top: 1vh;
}
.assignment_editor_header_title h6 {
  /* margin-left: 1px; */
  color: #526D82;
  font-weight: 500;
  font-size: 28px;
  overflow: hidden; /* Ensures text overflow is handled */
  white-space: nowrap; /* Prevents text from wrapping */
  text-overflow: ellipsis;
}
.assignment_editor_header_title p{
  margin-left: 75px;
  padding-top: 10px;
}
.assigment_back {
  color: #526D82;
  height: 32px;
  width: 62px;
  margin-left: 10px;
  cursor: pointer;
}

.assignment_editor_header_submit {
  display: flex;
  justify-content: end;
  padding-right: 24px;
  align-items: center;
}

.assignment_editor_header_submit button {
  width: 180px;
  height: 48px;
  border-radius: 8px;
  color: #fff;
  background-color: #526D82;
  font-size: 18px;
}
.assignment_editor_container {
  margin-bottom: 24px;
  padding: 26px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 5vh;
  width: 500px;
}
.assignment_show_toolbar .ck-toolbar {
  display: flex !important; 
  
}
.ck-editor__editable_inline {
    min-height: 110px !important;

 border-radius: 8px !important;
    /* border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important; */
    z-index: 10 !important;
  }
  .ck-toolbar {
    display: none !important;
  }
  
  .tch_mock_show_toolbar .ck-toolbar {
    display: flex !important; 
    /* height: 500px; */
  }

  .tch_mock_editor_container .ck-placeholder {
    font-style: italic;
  }

  .tch_mock_editor{
    width: 100%;
    min-height: 100vh;
    padding-top: 15vh;
  }
  .tch_mock_editor_div{
    background-color: #ffff;
    height: 40vh;
    border-radius: 15px;
    padding-top: 10px;
  }
  .tch_mock_editor_header{
    background-color: #ffffff !important;
    height: 10vh;
    width: 100%;
    z-index: 10;
    position: sticky;
    /* top: 0;
    left: 0; */
    /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
    border-bottom:1px solid  #526D82;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    /* border-radius: 15px; */
    margin-bottom: 30px;
    padding-top: 20px;
  }
  .tch_mock_editor_header_title{
    display: flex;
    align-items: center;
  }
  .tch_mock_editor_header_title div {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
  }
  
  .tch_mock_editor_header_title h6{
    margin-left: 20px;
    color: #526D82;
    font-weight: 500;
    font-size: 28px;
  }
  .tch_mock_editor_header_title p{
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .tch_mock_editor_header_submit{
    display: flex;
    justify-content: end;
    padding-right: 24px;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .tch_mock_editor_header_submit button{
    width: 180px;
    height: 48px;
    border-radius: 8px;
    color: #fff;
    background-color: #526D82;
    font-size: 18px;
  }

