.ck-editor__editable_inline {
    min-height: 110px !important;

 border-radius: 8px !important;
    /* border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important; */
    z-index: 10 !important;
  }
  .ck-toolbar {
    display: none !important;
  }
  
  .assignment_show_toolbar .ck-toolbar {
    display: flex !important; 
  }
  .assignment_editor_header{
    background-color: #ffff !important;
    height: 10vh;
    width: 100%;
    z-index: 10;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: space-bet;
  }
  .assignment_editor_header_title{
    display: flex;
    align-items: center;
  }
  .assignment_editor_header_title h6{
    margin-left: 45px;
    color: #526D82;
    font-weight: 500;
    font-size: 28px;
  }
  .assignment_editor_header_submit{
    display: flex;
    justify-content: end;
    padding-right: 24px;
    align-items: center;
  }
  .assignment_editor_header_submit button{
    width: 180px;
    height: 48px;
    border-radius: 8px;
    color: #fff;
    background-color: #526D82;
    font-size: 18px;
  }

