@media (max-width: 999px) {
    .nav-links {
        display: none !important;
        justify-content: center;
    }
    .search_filter{
        justify-content: center;
    }
    .nav-links,
    .responsive-buttons,
    .search_filter {
        display: block;
        width: 100%;
        
    }
    .responsive-buttons {
        display: flex;
        margin-top: 20px;
        gap: 10px;
        margin-left: 20px;
    }
}
@media (min-width: 1000px) {
    .responsive-buttons {
        display: none;
    }
}
