.examtimetable-adding-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.examtimetable-adding-container {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 1058px;
    height: 650px;
    /* max-width: 600px; */
}

.examtimetable-adding-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.examtimetable-adding_form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
}

.examtimetable-adding_form-header {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.examtimetable-adding_form-input-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.examtimetable-adding_form-label {
    flex: 1;
    display: block;
    text-align: left;
}

.examtimetable-adding_form-input,
.examtimetable-adding_form-select {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    /* box-sizing: border-box; */
    border-radius: 8px;
}


.examtimetable-adding_form-input:last-child,
.examtimetable-adding_form-input:last-child {
    margin-right: 0;
}

input,
select {
    border-radius: 8px;
    border: 1px solid #757575;
}
.examtimetable-adding-form {
    flex-grow: 1; /* Allow the form to grow */
    overflow-y: auto; /* Allow scrolling if content overflows */
    margin-bottom: 24px; /* Ensure the footer has a 24px gap */
}

.examtimetable-adding-form-table-header,
.examtimetable-adding-form-table-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.examtimetable-adding-form-table-header label,
.examtimetable-adding-form-table-row input,
.examtimetable-adding-form-table-row select {
    flex: 1;
    margin-right: 10px;
}

.examtimetable-adding-form-table-header label {
    font-weight: 400;
    color: #767676;
}

.examtimetable-adding-form-table-row input,
.examtimetable-adding-form-table-row select {
    padding: 8px;
    margin-right: 10px;
    border-radius: 8px;
}

.examtimetable-adding-form_form-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 320px;
    flex-grow: 1;

}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.examtimetable-adding_addnext_button_main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.examtimetable-adding_clear_button_main {
    display: flex;
    justify-content: flex-end;
    /* margin-top: 20px; */
    gap: 10px;
    /* margin-bottom: 24px; */
}

.examtimetable-adding_addnext_button {
    /* margin-left: 15px; */
    width: 100px;
    height: 40px;
    color: #2162B2;
    background: transparent;
    border: 1px solid #2162B2;
    border-radius: 10px;
    transition: left 0.5s ease;
}

.examtimetable-adding_clear_button {
    width: 100px;
    height: 40px;
    color: #2162B2;
    background: transparent;
    border: 1px solid #2162B2;
    border-radius: 10px;
    transition: left 0.5s ease;
}

.examtimetable-adding_save_button {
    /* margin-left: 15px; */
    width: 100px;
    height: 40px;
    color: white;
    background: #2162B2;
    border: 1px solid #2162B2;
    border-radius: 10px;
    transition: left 0.5s ease;
}

/* Ensure the row is positioned relative so the button can be absolutely positioned */


.examtimetable-adding-form-row-with-delete {
    position: relative;
    transition: transform 0.3s ease;
}

.examtimetable-adding-form-remove-row-btn:focus {
    outline: none;
}

.examtimetable-adding-form-remove-row-btn {
    position: absolute;
    top: 15%;
    right: 0px;
    background: transparent;
    color: red;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: none; /* Initially hide the button */
    height: 0px !important; /* Set height and width to 0 */
    width: 0px !important;
    transition: all 0.3s ease;
    margin-left: 8px;
}

/* Show the delete button when hovering the row */
.examtimetable-adding-form-row-with-delete:hover .examtimetable-adding-form-remove-row-btn {
    display: block; /* Show the button */
    height: 16px !important; /* Set the height to 16px */
    width: 16px !important;
    padding-left: 16px;
}
.examtimetable-adding-form-row-with-delete:hover {
    transform: scale(0.97);
}
.examtimetable-adding_required {
    font-weight: 400;
    color: red;
}

