.form {
  /* margin-top: 50px;
  box-shadow: none; 
  width: 1329px;
  height: fit-content;
  margin-left: 60px;
  margin-right: 500px;
  padding: 0px; */
  margin-top: 50px;
  box-shadow: none; 
  width: 90%; 
  max-width: 2000px;
  height: fit-content;
  margin-left: auto; 
  margin-right: auto; 
  padding: 0px;
  margin-bottom: 50px;
}


.button-container {
  padding: 0 0 0 0;
  margin-top: -30px;
  margin-left: 15px;
  /* border: 2px solid black; */
  margin-bottom: 30px;
}
.button-container button {
  background-color: #526D82; 
  color: #DDE6ED;
  width: 400px; 
  height: 50px;
  font-size: large;
  border-radius: 4px;
  border: none;
}

/* ************************************************ */

.image {
  width: 300px;
  height: 240px;
  /* top: 15px;
  left: 757px;
  padding: 8px 8px 8px 4px; */
  border-radius: 12.6px ;
  background-color: #DAE2E9;
}

/* ************************************************ */
 
.input-container {
  position: relative;
  padding: 15px;
}
.input-container_select {
  position: relative;
  padding-top: 15px;
  /* margin-bottom: 35px;  */
  
}
.input-container input {
  padding: 8px 8px 8px 4px;
  border: 1px solid #526D82;
  border-radius: 4px;
  outline: none;
  background: #fff;
  width: 400px; 
  height: 50px;
  box-sizing: border-box;
  /* margin-bottom: 20px; */
}
.input-container_select Select {
  padding: 8px 8px 8px 4px;
  border: none;
  border-radius: 4px;
  outline: none;
  background: #fff; 
  width: 100px;
  height: 10px;
  box-sizing: border-box;
  border-color: white; 
}
.input-container label {
  position: absolute;
  top: 10px;
  left: 30px;
  padding: 0 4px;
  background: #fff;
  color:#526D82;
  font-size: 16px;
  transition: all 0.3s;
  pointer-events: none;
}
.input-container_select label {
  position: absolute;
  top: -10px;
  left: 20px;
  padding: 0 4px;
  background: #fff;
  color:#526D82;
  font-size: 16px;
  transition: all 0.3s;
  pointer-events: none;
}
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -10px;
  left: 4px;
  font-size: 12px;
  color: #333;
}
.input-container_select Select:focus + label,
.input-container_select Select:not(:placeholder-shown) + label {
  top: -10px;
  left: 4px;
  font-size: 12px;
  color: #333;
}

.input-container .eye_icon {
  position: absolute;
  top: 50%;
  right: 50px; 
  transform: translateY(-50%);
  cursor: pointer;
}

.form-container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
  padding-left: 50px;
  margin-top: 10px;
  padding-right: 50px;
}

.form-row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px; 
  padding-right: 110px; 
  
}

.form-col {
  flex: 0 0 50%;
  max-width: 50%;
  /* padding-right: 15px; */
  /* padding-left: 83px; */
}

.image-upload-container{
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 210px;
  width: 210px;
  border: 2px dashed #526D82;
  border-radius: 12px;
  margin-bottom: 15px;
  position: relative;
  background-color: #DAE2E9; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #526D82;
  border-radius: 12px;
  margin-bottom: 15px;
  position: relative;
  background-color: #DAE2E9;
  width: 300px; 
  height: 240px;
}

.uploaded-image {
  /* text-align: center;
  cursor: pointer;
  width: 100%;
  height: auto; */
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; 
  border-radius: 10px; 
}

.upload-placeholder{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.upload-label {
  background-color: #DAE2E9;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}
.upload-input {
  display: none;
}

.upload-label:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
/* ************************************************ */

@media (max-width: 500px) {
  /* .form{
    width: 100px;
  } */
  .form-col {
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 10px;
      padding-left: 20px;
  }
  .form-row{
      display: flex;
      flex-direction: column;
  }
  .form{
    width: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .input-container .eye_icon {
    right: 20px;
  }

}
/* ************************************************ */

@media (max-width: 1200px) {
  /* .form{
    width: 100px;
  } */
  .form-col {
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 10px;
      padding-left: 20px;
  }
  .form-row{
      display: flex;
      flex-direction: column;
  }
  .form{
    width: 500px;
  }
  .input-container .eye_icon {
    right: -150px;
  }
}



