.main {
    background-color: #f9f9f9;
    width: 100%;
    height: 100vh;
    padding-top: 23px;
}

.info{
    background-color: red !important;
}

.adding {
    background-color: white;
    margin-left: 134px;
    margin-right: 25px;
    border-radius: 16px;
    padding: 24px;
    width: 1281px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Adjust the dimensions of the adding box */
}


.heading {
    font-size: 28px;
    font-weight: 600;
    color: #222222;
    margin-right: 20px; /* Space between heading and the content (email + image) */
}

.email {
    margin: 0;
    font-size: 16px;
    color: #333;
}
.info{
    color: red !important;
}

.dummy-image {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* Makes the image circular */
}

