.admin_dashboard {
  background-color: #F8FEFF;
  height: 100vh;
  padding-top: 14vh;
  padding-left: 10vh;
  width: 100%;
  padding-right: 0vw;

}

.admin_dasboard_container {
  padding-right: 0vw;
}

.dashboard_content_row {
  border: 1px solid #9DB2BF;
  border-radius: 8px;
  height: 86vh;
  width: 850px;
}

.dash_grt_headr {
  font-size: 32px;
  font-weight: 400;
  color: #526D82;
  margin-left: 24px;
  margin-top: 16px;
}

.dash_snd_row {

  width: 100%;
  height: 200px;
  display: flex;
  margin-top: 8px;
}
/* .dsh_snd_col{
  border: 1px solid red;

}
.dsh_lka{
  border: 1px solid black;
}
.dsh_clnd{
  border: 1px solid aqua;
} */
.dsh_nt{
  /* border: 1px solid palevioletred; */
  padding-top: 4%;
}
.rw_cl_nt{
  padding-top: 0px;
}
.dash_student_card {
  width: 150px;
  height: 200px;
  border-radius: 8px;
  background-color: #E7E6FB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin-right: 5px;
}

.dash_teacher_card {
  width: 150px;
  height: 200px;
  border-radius: 8px;
  background-color: #DFEDF8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.student_icon_dash {
  width: 52px;
  height: 52px;
  margin-bottom: 10px;
}

.teacher_icon_dash {
  width: 52px;
  height: 52px;
  margin-bottom: 10px;
}

.loka_card {
  background-color: #f4a8a8;
  /* Adjust this color to match the pink background */
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  height: 210px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.notes_header {
  color: #526D82;
  font-weight: 400;
padding-bottom: 10PX;
}

.custom_calendar {

  border: 1px solid #ffffff !important;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(44, 43, 43, 0.1);
  padding: 26px;
  margin-top: 40px;
}

.dash_note_min_div {
  /* border: 1px solid red; */
  height: 222px;
  overflow-y: auto; 
  overflow-x: hidden; 
  margin-bottom: 10px;
  
}

.dash_note_min_div::-webkit-scrollbar {
  width: 6px; 
}

.dash_note_min_div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dash_note_min_div::-webkit-scrollbar-thumb {
  background: #A8BFD1;
}
/* 
.notes_section {
  margin-top: 15px;
  border: "1px solid black";
} */

.note_item {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  height: 50px;
}

.fixed_footer{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.txt_form{
  width: 88%;
}
.dash_noteadd_btn {
  width: 10%;
  border-radius: 2px;
  height: 65px;
  border: 1px solid #657d8f;
  background-color: transparent;
  color: #526D82;
  /* margin-top: 10px; */
  font-size: 26PX;
}
.dash_noteadd_btn:hover{
  background-color: #526D82;
  color: #fff;
}
.note_item p {
  margin: 0;
  font-size: 14px;
  flex-grow: 1;
}

.note_date {
  font-size: 12px;
  color: #6c757d;
  margin-right: 10px;
}

.delete_note {
  background: none;
  border: none;
  cursor: pointer;
  color: #d9534f;
}


.notification_content_1 {
  width: 450px;
  justify-content: flex-start;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  border-radius: 8px;
  padding-left: 16px;

}


.notification_section {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;


}

.notification_bar {
  text-align: center;
  gap: 5%;
  display: flex;
  padding-top: 2vh;
}

.notification_bell {
  text-align: center;
  font-size: 20px;
  margin-top: 1vh;
}

.notification_bar h5 {
  color: #727272;
  font-size: 20px;
  font-weight: 500;
  margin-top: 0.5vh;
}

.notification_content hr {
  border: 1px solid #000000;
}

.notification_body {
  max-height: calc(90vh - 140px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.notification_body::-webkit-scrollbar {
  width: 8px;
}

.notification_body::-webkit-scrollbar-track {
  background-color: #fff;
}

.notification_body::-webkit-scrollbar-thumb {
  background-color: #A8BFD1;
  border-radius: 4px;
}

.notification_body::-webkit-scrollbar-thumb:hover {
  background-color: #8FA2B6;
}

.day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
}

.day_icon {
  margin-left: auto;
  font-size: 20px;
}

.notification_item {
  background-color: #ffffff;
  cursor: pointer;
  /* padding: 8px; */
  margin-bottom: 10px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #727272;
}

.notification_item:hover {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.notification_item h4 {
  color: #4A4A4A;
  font-size: 15px;
  font-weight: 400;
}

.notification_item p {
  color: #727272;
  font-size: 15px;
  font-weight: 400;
  padding-top: 1vh;
}

@media (max-width: 768px){
  .admin_dashboard {
    overflow-x: auto;
    /* overflow-y: hidden;  */
    padding-left: 2vh;
    /* border: 1px solid red; */
  }

  .dashboard_content_row {
    height:100vh ;
    /* border: 1px solid cyan; */
  }
.notification_section{
  display: none;
}
.dashboard_content_row {
  /* border: 1px solid #9DB2BF; */
  border: none;
  border-radius: 8px;
  height: 100vh !important;
  width: 850px;
}
.rw_cl_nt{
  padding-top: 200px;
}
.dsh_lka{
  padding-top: 10px;
}
  /* .dsh_snd_col{
    border: 1px solid red;
  }
  .dsh_lka{
    border: 1px solid black;
    margin-top: 4vh;
  }
  .dsh_clnd{
    border: 1px solid aqua;
    margin-top: 26vh;
  }
  .dsh_nt{
    border: 1px solid palevioletred;
  } */
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* .notification_section{
    display: none;
  } */

  .admin_dashboard {
    /* max-height: calc(100vh - 100px); */
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .admin_dashboard::-webkit-scrollbar {
    width: 8px;
  }
  
  .admin_dashboard::-webkit-scrollbar-track {
    background-color: #fff;
  }
  
  .admin_dashboard::-webkit-scrollbar-thumb {
    background-color: #A8BFD1;
    border-radius: 4px;
  }
  
  .admin_dashboard::-webkit-scrollbar-thumb:hover {
    background-color: #8FA2B6;
  }
  /* .dsh_snd_col{
    border: 1px solid red;
  
  }
  .dsh_lka{
    border: 1px solid black;
  }
  .dsh_clnd{
    border: 1px solid aqua;
  }
  .dsh_nt{
    border: 1px solid palevioletred;
  } */
}
/* @media (min-width: 1024px) {

} */



.highlight-text {
  font-weight: bold;
  color: #ff0000; /* Red color */
}
