.no-underline {
    text-decoration: none !important;
  }
  .gd_tb{
    gap: 20px;
  }
  /* .hd_title{
border: 1px solid red;
width: 40%;
  }
  .header_institution{
    border: 1px solid black;
    width: 40%;
  }
  .header_container{
    border: 1px solid greenyellow;
  } */